body {

    background-color: lightblue;
    width: 50%;

}
.titulo{
    text-decoration: crimson;
    text-decoration: none;
    text-align: right;
}
.lce1{
text-decoration: chocolate;

}
.pepoo{

    text-align: right;
}
.video{

    text-align: center;
}